body {
    background-color: #212121;
    color: #888888;
    font-family: Fira Sans;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
/* Sidebar begins */
.sidebar {
    width: 26%;
    text-align:right;
    padding-top: 50px;
    float: left;
}
img {
    max-width: 100%;
}
.collection-title {
    margin-top: 2em;
    font-weight: 500;
    font-size: 1em;
    color: #eeeeee;
    text-transform: uppercase;
}
.collection-title:hover {
    color: #888888;
    cursor: pointer;
    transition: 0.2s ease;
}
.group {
    list-style-type: none;
    line-height: 1.8;
}
.project-title:hover, .page-title:hover{
    color: #eeeeee;
    cursor: pointer;
    transition: 0.2s ease;
}
#active-page {
    color: #7f95ff;
}
a {
    color: inherit;
    text-decoration: inherit;
}
/* Sidebar ends, main content begins */
.page-container {
    padding-left: 1%;
    padding-right: 1%;
}
main {
    margin-left: 28%;
    padding-bottom: 60px;
}
.title {
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    color: #eeeeee;
    text-transform: uppercase;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 800px;
}
.bodyText {
    padding-top: 20px;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 2em;
    overflow-wrap:break-word;
    max-width: 800px;
}
.backToTopBox {
    margin-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.backToTop {
    padding: 5px;
    cursor: pointer;
    font-size: 1.1em;
}
footer {
    text-align: center;
    line-height: 2em;
    font-size: 0.9em;
    margin-top: 60px;
    margin-bottom: 60px;
}
/* Main content ends, Bootstrap begins */
.row {
    /*background-color: black;*/
    text-align: center;
    padding: 0;
}
.col-lg-4, .col-md-6, .col-12 {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.project-card {
    width: 100%;
    height: 338px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
#roamer {
    background: url("images/Roamer.png");
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#gyst {
    background: url("images/GystBranding.png");
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#nps {
    background: url("images/npsBranding.png");
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#ahs {
    background: url("images/ahsBranding.png");
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#arc {
    background: url("images/arcBranding.png");
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: rgba(34,34,34,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
  }
  .project-card:hover .card-overlay {
    opacity: 1;
  }
  .card-date {
    /* Date */
    width: 100%;
    height: fit-content;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 125% */
    text-align: center;
    color: #BFBFBF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .card-title {
    /* Title */
    width: 100%;
    height: fit-content;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 172%;
    /* identical to box height, or 172% */
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .card-caption {
    /* Caption */
    width: 100%;
    height: fit-content;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 106%;
    /* or 106% */
    text-align: center;
    color: #BFBFBF;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }