img {
    max-width: 100%;
    height: auto;
}
body {
    background-color: #212121;
    color: #888888;
    font-family: Fira Sans;
}
aside {
    width: 20%;
    text-align:right;
}
h4 {
    font-weight: 500;
}
ul {
    list-style-type: none;
}