body {
    background-color: #212121;
    color: #888888;
    font-family: Fira Sans;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.sidebar {
    width: 26%;
    text-align:right;
    padding: 2%;
    padding-top: 50px;
    float: left;
}
img {
    max-width: 100%;
}
h2 {
    margin-top: 2em;
    font-weight: 500;
    font-size: 1em;
    color: #eee;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    line-height: 1.8;
}
main {
    width:auto;
    padding-top: 60px;
}
.title {
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    color: #eee;
    text-transform: uppercase;
    margin-bottom: -0.5em;
}
.bodyText {
    padding-left: 35%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 1.1em;
    line-height: 1.4;
}
p {
    margin-bottom: 1.4em;
}